<form class="create-update-form logIn z-depth-5" action="/users" method="POST">

    <div class="">
        <article class="">
            <label for="name">Name:</label>
        </article>
        <article class="">
            <input type="text" class="" id="name" name="name">
        </article>
    </div>

    <div class="">
        <article class="">
            <label for="username">User Name:</label>
        </article>
        <article class="">
            <input type="text" class="" id="username" name="username">
        </article>
    </div>

    <div class="">
        <article class="">
            <label for="email">Email:</label>
        </article>
        <article class="">
            <input type="text" class="" id="email" name="email">
        </article>
    </div>

    <div class="">
        <article class="">
            <label for="password">Password:</label>
        </article>
        <article class="">
            <input type="password" class="" id="password" name="password">
        </article>
    </div>

    <div class="">
        <article class="">
            <label for="image">Image:</label>
        </article>
        <article class="">
            <input type="text" class="" id="image" name="image">
        </article>
    </div>

    <div class="">
        <button type="submit" class="create z-depth-2"><span>Create</span></button>


    </div>

</form>