
<form class="create-update-form logIn z-depth-5" action="/users/login" method="POST">
  <div class="">
    <article class="">
      <label for="name">Name:</label>
    </article>
    <article class="">
      <input type="text" class="" id="name" name="name">
    </article>
  </div>

  <div class="">
    <article class="">
      <label for="password">Password:</label>
    </article>
    <article class="">
      <input type="password" class="" id="password" name="password">
    </article>
  </div>

  <div class="">
    <button type="" class="create z-depth-2"><span>Sign In</span></button>


  </div>

</form>
