
<div class="launch">
  <h1>Welcome to the burnUnit</h1>
  <p>Have you ever thought to yourself, “I have too many friends?”
  <br>Do you ever wish you could express your repressed anger and frustration over the mundane nature of your life?
  <br>Well now you have an outlet for all of those feelings!
  <br>burnUnit gives you the chance to roast your friends and chat with your frenemies.
  <br>
  <br>If you have been here before, this isn’t for you so just go ahead and login. Honestly, I don’t know why you would have read this far is you have been here before. 
  Goddamn I wish I had time to just read things for no reason...
  <br>
  <br><span style="font-style: italic;"> Anyways</span>, sorry for the unpleasantness, if you are new here sign up and create a profile. 
  <br>Once that is done you can join a roast room and get Roasting or simply browse your empty trophy shelf.
  <br>Once again, welcome to the burnUnit.
  <br>Have fun! Be safe! Make good choices!
  <br>
  <br>

  <a href="/login"><button class="create"><span>Login</span></button></a>
  or
	<a href="/signup"><button class="create"><span>Sign Up</span></button></a>

</div>

<script type="text/javascript" src="../assets/js/launch.js"></script>