<nav class="z-depth-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo"><span class="glyphicon glyphicon-fire"></span>burnUnit</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="login">Login</a></li>
            <li><a href="index">Sign Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="login">Login</a></li>
            <li><a href="index">Sign Up</a></li>
        </ul>
    </div>
</nav>

<article class="">
          <p class=""><strong> Roasts </strong></p>
        </article>
        
        <article class="">
          <ul>
            {{#each roasts}} 
            <li>

              <article class="tile is-child is-12 notification is-patty shadow">
                <p>{{this.roast}} - {{this.winner}}</p>
              </article>
              
              <form action="/roasts/{{this.id}}?_method=PUT" method="POST">
                <input type="text">
                <button type="submit" class=" ">update</button>
              </form>


            </li>
            {{/each}}
          </ul>

        </article>

          <form class="create-update-form" action="/roasts" method="POST">

            <div class="">
              <article class="">
                <label for="roast">roast:</label>
              </article>
              <article class="tile is-child is-10">
                <input type="text" class="" id="roast" name="roast">
              </article>
            </div>

            <div class="">
              <article class="">
                <label for="user">user:</label>
              </article>
              <article class="">
                <input type="text" class="" id="user" name="user">
              </article>
            </div> 
            

            <div class="">
              <article class="">
                <label for="post">post:</label>
              </article>
              <article class="">
                <input type="text" class="" id="post" name="post">
              </article>
            </div> 

            <div class="">
              <article class="">
                <label for="participants">participants:</label>
              </article>
              <article class="">
                <input type="text" class="" id="participants" name="participants">
              </article>
            </div>         

            <div class="">
              <button type="submit" class="" >create</button>
          
            
            </div>
            
          </form>
