

        <article class="">
          <a href="roasts"><h2 class="">Roasts</h2></a>
        </article>
        
        <article class="">
          <ul>
            {{#each roasts}} 
            <li>

              <article class="tile is-child is-12 notification is-patty shadow">
                <p>Roast - {{this.UserId}}</p>
              </article>
              
              <form action="/roasts/{{this.id}}?_method=PUT" method="POST">
                <input type="text">
                <button type="submit" class=" ">Update</button>
              </form>


            </li>
            {{/each}}
          </ul>

        </article>

          <form id="create-roast" class="create-update-form logIn z-depth-5" action="/roasts" method="POST">

            <div class="">
              <article class="">
                <label for="UserId">UserId:</label>
              </article>
              <article class="">
                <input type="text" class="" id="UserId" name="UserId">
              </article>
            </div> 

            <div class="">
              <button type="submit" class="" >Create</button>
          
            
            </div>
            
          </form>
<script type="text/javascript" src="assets/js/roasts.js"></script>