  <!-- Modal Structure -->
  <div id="edit-user" class="modal">
    <div class="modal-content">
      <h4>Edit Info</h4>

      <div class="row">
        <form class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="newname" type="text" class="validate">
              <label for="newname">Name</label>
            </div>
            <div class="input-field col s12">
              <input id="newusername" type="text" class="validate">
              <label for="newusername">User Name</label>
            </div>
            <div class="input-field col s12">
              <input id="newemail" type="text" class="validate">
              <label for="newemail">Email</label>
            </div>              
          </div>      
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-light btn edit-info">
      <i class="material-icons">edit</i>Edit Info</a>
    </div>
  </div>