{{#roast}}
<div class="row">
    <div class="col m6 s12">
        <div class="card row">
            <div class="card-image col s6">
                <img style="max-width: 450px" src="https://scontent-dft4-2.xx.fbcdn.net/v/t1.0-9/12928421_1106927535997246_6108832928603042674_n.jpg?oh=2556f806f35c62911f36231838a019d9&oe=59FEE8E2">
                <span class="card-title">Burn this bitch!</span>
            </div>
            <!-- insert roastee username and blurb -->
            <div class="card-content col s6">
                <h3>Username</h3>
                <p>I love baking. Well, not so much baking as eating baked goods. I love cake. I really love cake batter. I
                    slather it all over my body, then sunbathe till just fluffy enough. Then I feed myself to homeless people.
                </p>
            </div>
        </div>
    </div>
    <div class="col m6 s12">
        <h3 class="center-align">All of the burns</h3>
    <div id="displayQuotes">
    </div>
    </div>
    {{!--
    <div class="col m4 s8">
        <div class="card">
            <div class="card-image">
                <!-- insert last roastee image and winning quote -->
                <img style="max-width: 100px; display: block; margin: auto;" src="https://scontent-dft4-2.xx.fbcdn.net/v/t31.0-8/280055_2289006864966_4414621_o.jpg?oh=f3165f65c0a69eaf222912bbbd8e1a74&oe=59F4992E">
                <span style="color: #000;" class="card-title">Recently Burned</span>
            </div>
            <div style="text-align: center;" class="card-content">
                <p>"Q: What's your favorite color? A: Cocaine"</p>
            </div>
        </div>
    </div> --}}
</div>

<div class="row">
    <div class="input-field col m6 s12 launch">

        <div class="">
            <article class="">
                <textarea id="quote" name="quote" class="materialize-textarea"></textarea>
                <label for="quote">Get Greasy</label>
            </article>
        </div>


        <div class="">
            <article class="hidden">
                <input type="text" class="" id="UserId" name="UserId" value="{{this.UserId}}">
            </article>
        </div>
        <div class="">
            <article class="hidden">
                <input type="text" class="" id="RoastId" name="RoastId" value="{{this.id}}">
            </article>
        </div>


        <button class="btn waves-effect waves-light" id="burn" type="submit">Burn
                    <i class="material-icons right">flash_on</i>
                </button>
    </div>

    <div class="col m6 s12">
        <!-- chat info -->
        <div id="chatBox" style="background-color: white; height: 150px;">
            <div id="chatMsg" style="height: 140px; overflow: auto;">This is a message</div>
        </div>
        <div class="input-field">
            <textarea id="textarea1" class="materialize-textarea" data-length="120" style="height: 100%"></textarea>
            <label for="textarea1">Chat</label>
            <button class="btn waves-effect waves-light" type="submit" name="action" id="chatSubmit">Chat<i class="material-icons right">send</i></button>
        </div>
    </div>
</div>
{{/roast}}

<script type="text/javascript" src="../assets/js/roast.js"></script>