@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    height: 100% !important;
}


body {
    background: #efebe9;
    background-image: url("../images/fire.png");
    background-position: 100%;
    min-height: 100% !important;
    margin: auto;
    background-attachment: fixed;

}

h1 {
    color: #607d8b;
    border-bottom: 2px solid #26A69A;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0px;
}

h2 {
    color: #ff9800;
    font-weight: 900;
    font-size: 24px;
    padding-top: 20px;
}

nav, nav-wrapper {
    background: #ff9800;
}

a:hover {
    text-decoration: none;
    color: white;
}

label {
    color: #607d8b;
    font-size: 22px;
}

input {
    font-weight: 900;
    font-size: 18px !important;
}

.logIn {
    text-align: left;
    margin: 20px auto;
    width: 95%;
    max-width: 800px;
    background-color: rgba(250, 250, 250, .75);
    border-radius: 20px;
    padding: 35px 25px !important;
    font-size: 20px;
    border: 2px solid #607d8b;
}

.launch {
    text-align: left;
    margin: 20px auto;
    width: 95%;
    max-width: 800px;
    background-color: rgba(250, 250, 250, .75);
    border-radius: 20px;
    padding: 35px 25px !important;
    font-size: 20px;
    border: 2px solid #607d8b;
}

.halfChat {
    text-align: left;
    margin: 20px auto;
    width: 95%;
    height: 75vh;
    max-width: 800px;
    background-color: rgba(250, 250, 250, .75);
    border-radius: 20px;
    padding: 35px 25px !important;
    font-size: 20px;
    border: 2px solid #607d8b;
}

button:active {
    background: lightgray !important;
}

.create {
    color: #ff9800;
    border-radius: 5px;
    transition: all 0.5s;
    border: 1px solid #ff9800;
    font-weight: 900;
}


.create span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.create span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.create:hover span {
    padding-right: 25px;
}

.create:hover span:after {
    opacity: 1;
    right: 0;
}

.users {
    width: 95%;
    max-width: 300px;
    margin: 5px;
    background-color: rgba(250, 250, 250, .75) !important;
    border-radius: 20px !important;
    border: 2px solid #607d8b;
    padding: 20px;
}

p {
    color: #607d8b;
    font-weight: 900;
}
/* Change to winner for winner button */
.winner {
    border-width: 4px;
    border-style: outset;
    border-color: #ff9800;
    border-radius: 10px;
    padding: 0px 5px;
    margin: 8px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px lightslategray;
}
/* Change to winner for winner button */
.winner:hover {
    box-shadow: 2px 2px 6px #000 !important;
    background-image: url("../images/winFire.png");
    background-position: 100%;
    cursor: pointer;
    text-shadow:
        -1px -1px 0 #FFFFFF,  
        1px -1px 0 #FFFFFF,
        -1px 1px 0 #FFFFFF,
        1px 1px 0 #FFFFFF;
}

.winner:active {
    border-color: #000;
    box-shadow: 2px 2px 4px grey;
    background-color: yellow;
}

.sel-winner {
    color: #000 !important;
}

.sel-winner:hover {
    color: #000 !important;
}

.sel-winner:active {
    color: #000 !important;
}

#chatBox {
    border: 2px solid orange;
    margin-top: 10px;
    border-radius: 15px;
}

.btn-large{
    background-color: orange;
}

.card{
    border: 2px solid orange;
    margin-top: 10px;
    border-radius: 15px;
}

.input-field label{
    color: #4a4a4a;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.75rem;
    font-weight: 400;

}

label.active{
    color: orange;
}

input {
    border-bottom: 1px solid orange !important;
}

input:focus {
    border-bottom: 1px solid #ff6f00 !important;
    box-shadow: 0 1px 0 0 #ff6f00;
}

#textarea1{
    border-bottom: 1px solid orange;
}

#quote{
    border-bottom: 1px solid orange;
}

.btn{
    background-color: orange;
}

em{
    color: orange;
    font-family: "Lucida Console", Monaco, monospace;

}

#textarea1:focus {
  border-bottom: 1px solid #ff6f00;
  box-shadow: 0 1px 0 0 #ff6f00;
}

#textarea1:focus + label {
  color: #ff6f00;
}

#quote:focus {
  border-bottom: 1px solid #ff6f00;
  box-shadow: 0 1px 0 0 #ff6f00;
}

#quote:focus + label {
  color: #ff6f00;
}

button:after {
    background-color: #8C420A !important;
}

.waves-effect:active {
    background-color: #8C420A !important;
}

.btn {
  overflow: hidden;
}

.btn:hover:before {
  opacity:1;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: #ff6f00;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.btn:active {
    background-color: #8C420A !important;
}

h1{
    border-bottom: 2px solid orange;
}

.card .card-image img{
    top: 17px;
}